<!--
Copyright (C) 2007, 2008, 2009, 2010 Heiko Bernloehr (FreeIT.de).

This file is part of ECS.

ECS is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of
the License, or (at your option) any later version.

ECS is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with ECS. If not, see <http://www.gnu.org/licenses/>.
-->


<h1 class="box1">Listing Communities</h1>

<%= link_to 'New community', new_admin_community_path %>

<p>

<table class="list">

  <TR class="table-resource-label">
  <TH class="box2">Id</TH>
  <TH class="box2">Name</TH>
  <TH class="box2">Description (optional)</TH>
  <TH class="box2" align="center">Operations</TH>
  </TR>
  <tr></tr>
  
  <% for community in @communities %>
  	<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <TD> <%= community.id %></TD>
  		<TD> <%= h community.name %> </TD>
      <TD> <%= h truncate(community.description,:length => 80) %> </TD>
      <TD>
  			<%= link_to 'Show', admin_community_path(:id => community) %>
  			<%= link_to 'Edit', edit_admin_community_path(:id => community) %>
  			<%= link_to 'Destroy', admin_community_path(:id => community), :confirm => 'Are you sure?', :method => :delete %><BR>
  		</TD>
    </tr>
  <% end %>

</table>

</p>
