-#
  Copyright (C) 2007, 2008, 2009, 2010, 2011, 2012 Heiko Bernloehr (FreeIT.de).
  
  This file is part of ECS.
  
  ECS is free software: you can redistribute it and/or modify it
  under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of
  the License, or (at your option) any later version.
  
  ECS is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
  Affero General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public
  License along with ECS. If not, see <http://www.gnu.org/licenses/>.


%h1.box1 Show Community

%p
  = link_to 'Edit', edit_admin_community_url(:id => @community)
  |
  = link_to 'Back', admin_communities_url

.normal-skip
  %span.box5
    %label.box2.table-resource-label(for="community_name") Name:
    = h @community.name

- unless @community.description.blank?
  %p
    .formular-input-width.table-border
      .table-header
        %label.table-resource-label Description (optional):
      = @community.description.gsub(/\r\n/, '<BR>')

- unless (participants= Participant.for_community(@community)).blank?
  %p
    .show-output-width.table-border
      .table-header
        %label.table-resource-label Participants joining the community:
    
      %table.list(width="100%")
        %tr(align="left")
          %th ID:
          %th Name:
          %th Description:
          %th(align="right") MembershipID (mid):
        - participants.each do |participant|
          %tr{:class => [cycle('list-line-odd', 'list-line-even')]}
            %td= link_to h(participant.id), admin_participant_path(participant)
            %td= participant.name
            %td= h(participant.description).gsub(/\r\n/, '<BR>')
            %td(align="right")= participant.mid(@community)

%p
  = link_to 'Edit', edit_admin_community_url(:id => @community)
  |
  = link_to 'Back', admin_communities_url

