<!--
Copyright (C) 2007, 2008, 2009, 2010 Heiko Bernloehr (FreeIT.de).

This file is part of ECS.

ECS is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of
the License, or (at your option) any later version.

ECS is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public
License along with ECS. If not, see <http://www.gnu.org/licenses/>.
-->


<h1 class="box1">Listing Organizations</h1>

<%= link_to 'New organizations', :action => 'new' %>

<p>

<table class="list">

  <TR class="table-resource-label">
    <TH class="box2">ID</TH>
    <TH class="box2">&uarr; Name</TH>
    <TH class="box2">Abreviation</TH>
    <TH class="box2">Description</TH>
    <TH class="box2" align="center">Operations</TH>
  </TR>
  <tr></tr>
  
  <% for organization in @organizations.sort{|x,y| x.name.downcase <=> y.name.downcase} %>
  	<tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">
      <TD> <%= organization.id %></TD>
  		<TD> <%= h organization.name %> </TD>
  		<TD class="center"> <%= h organization.abrev %> </TD>
  		<TD> <%= h truncate(organization.description, :length => 80) %> </TD>
  		<TD>
  			<%= link_to 'Show', admin_organization_path(organization) %>
  			<%= link_to 'Edit', edit_admin_organization_path(organization) %>
  			<%= link_to 'Destroy', { :action => 'destroy', :id => organization }, :confirm => 'Are you sure?', :method => :delete %>
  		</TD>
    </tr>
  <% end %>

</table>

</p>
